# ================================================
# BitVMX configuration (only local)
# ================================================

ENVIRONMENT=local
BITCOIND_URL=http://<user>:<password>@host.docker.internal:18443
CLIENT_OP=111

# ================================================
# Blockchains stack configuration (only local)
# ================================================
ANVIL_URL=ws://anvil:8545
# Path to contracts repo for --contracts-tag local-build (build from local source)
CONTRACTS_CONTEXT_PATH=../../../bitvmx-union-bridge-contracts
CONTRACTS_DOCKERFILE=../union-bridge-client/docker/local-infra/Dockerfile_contracts

# Anvil mnemonic
MNEMONIC="test test test test test test test test test test test junk"
# Index of the deployer account
DEPLOYER_INDEX=0
# Anvil private key 2 (needs to be different than the deployer to avoid changing smart contracts address)
FUNDING_PRIVATE_KEY=<anvil-funding-private-key>

# for bitcoind setup
BITCOIND_USER=<user>
BITCOIND_PASSWORD=<password>
