# required for actions/download-artifact@v4 to work locally
--artifact-server-path /Users/illuque/.union_bridge/act_artifacts
# required for Risc0 toolchain to work locally
--container-architecture linux/amd64

# needed for now to access Fairgate private repositories used as dependencies
-s FAIRGATE_GITHUB_TOKEN=<ask_your_colleagues>

# needed for transaction-dispatcher
-s KEY_STORE_PASSWORD=<key_password>