# required for actions/download-artifact@v4 to work locally
--artifact-server-path <path_to_your_act_artifacts>
# required for Risc0 toolchain to work locally
--container-architecture linux/amd64

# needed for access to private repositories used as dependencies
-s FAIRGATE_GITHUB_TOKEN=<your_github_token>
-s UNION_CONTRACTS_GITHUB_TOKEN=<your_github_token>

# needed for transaction-dispatcher
-s KEY_STORE_PASSWORD=<key_password>
# if you lost it, you can get it with `cd key-manager && cargo run derive-public-data -p test -k <path_to_your_key>`
--var KEY_STORE_ADDRESS=<key_address>