##########################
# Indexing
##########################
# first block to index
INITIAL_BLOCK_HASH="<FIRST_BLOCK_TO_INDEX_HASH>"

###########
# Storage
###########
# path to the database
STORE_PATH="<PATH_TO_YOUR_DB>"

##########################
# Rootstock provider
##########################
# Rootstock provider url
RSK_PROVIDER_URL="wss://public-node.testnet.rsk.co/websocket"