##########################
# Indexing
##########################
# first block to index
INITIAL_BLOCK_HASH="0x551c09b6d4e35008a83016a16922676059eab39ba1c72d2c634c1c9119158a4a"

###########
# Storage
###########
# path to the database
STORE_PATH="/Users/illuque/tmp/"
# max number of elements for the block cache
BLOCK_CACHE_SIZE=100

##########################
# Rootstock provider
##########################
# Rootstock provider url
RSK_PROVIDER_URL="wss://public-node.testnet.rsk.co/websocket"