**/.env
**/.envrc
**/.actrc
**/app.log*
**/check_fork_args.bin
**/stark-proof.bin
**/target
.vscode/*
.DS_Store
.idea
.cursor
config/qa-coordinator
**/logs/*
**/.db
**/.union-bridge-contracts
**/.llmignore
test_keystore
*.log
docs/local/
docs/node_modules/
.junie/memory
.union_bridge
broker/
