COMPOSE_PROJECT_NAME=union-client

# Key manager
KEY_STORE_PASSWORD=supersecret-to-change

# contracts
UNION_CONTRACTS_TAG=v0.0.1-alpha.1
FOUNDRY_VERSION=1.1.0
FUNDING_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266 # first anvil account, just as an example

# event mocking
CHECK_FORK_REQUIRED_NUM_BLOCKS=25